@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
/* font-family: 'Bellefair', serif; */
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
/* font-family: 'Sorts Mill Goudy', serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500&display=swap');
/* font-family: 'Noto Serif KR', serif; */


/********************* 공통사항 *********************/
html, body {font-size: 16px; font-family: 'Bellefair', serif; }


/********************* .header-wrapper *********************/
.header-wrapper {
	width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;
	position: relative; 
/* 	background-image: linear-gradient( 145deg, #1a4177, #bad7ff); */
/* 	background-image: linear-gradient( 145deg, #006aff, #bad7ff); */
	background-image: linear-gradient( 145deg, #006aff, #c7defd);
/* 	background-image: linear-gradient( 145deg, #006aff, #c7defd); */
/* 	background-image: linear-gradient( 145deg, #042553, #bad7ff); */
/* 	background-image: linear-gradient( 145deg, #8bb100, #e7c7e0); */
	background-size: cover; background-position: center; background-repeat: no-repeat; overflow: hidden;
}

.main-bg {
	opacity: 0.4;
/* 	mix-blend-mode: overlay; */
	width: 100%; height: 100vh; position: absolute; top: 0; left: 0;
	background-image: url(../img/noise-1.jpg);
/* 	background-size: 100% auto;
	background-position: left top;
	background-repeat: repeat; */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-bg {
	opacity: 0.5;
	width: 100%; height: 100vh; position: absolute; top: 0; left: 0;
	background-image: url(../img/cosmos-1866820_1920.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.top-wrap {
	width: 100%;
	padding: 1.8rem;
	display:flex;
	align-items: center;
	justify-content:space-between; 
	position: absolute; 
	top: 0; 
	left: 0;}

.top-wrap .navi-bar {display: block; cursor: pointer;}
.top-wrap .bar::after {width: 46px; display: block; content: ""; border: 2px solid #fff; margin: 0.5em 0;}

.cont-wrapper {position: absolute; max-width: 80%; display: flex; flex-direction: column; justify-content: center; /* border: 1px solid red; */}
/* .cont-wrapper .cont-wrap {margin: 0 auto;} */

.cont-wrapper ul {font-size:9vw; color: #fff; display:flex; cursor: pointer; margin-bottom: -2%;}
.cont-wrapper ul:nth-child(1) {padding-left: 0.1em; animation-name: webAni; animation-duration: 14s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(2) {padding-left: 0.5em; animation-name: frontAni; animation-duration: 14s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(3) > li:nth-child(1) {padding-left: 0em; animation-name: devAni; animation-duration: 14s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(3) > li:nth-child(2) {animation-name: erAni1; animation-duration: 14s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(4) > li:nth-child(1) {padding-left: 0.7em; animation-name: designAni; animation-duration: 14s; animation-iteration-count: infinite; }
.cont-wrapper ul:nth-child(4) > li:nth-child(2) {animation-name: erAni2; animation-duration: 14s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(5) {padding-left: 0.3em; animation-name: portAni; animation-duration: 14s; animation-iteration-count: infinite;}

 @keyframes webAni{
	0% {transform: translateX(120%); color: #07215f;}
	3% {transform: translateX(0); color: #07215f;}
	56% {transform: translateX(0); color: #07215f;opacity: 1;}
	58% {opacity: 0; transform: translateX(0); color: #07215f; color: #fff;}
	62% {transform: translateX(0); color: #fff; opacity: 1;}
	70% {transform: translateX(0); color: #fff;}
	100% {transform: translateX(0em);}
}
@keyframes portAni {
	0% {transform: translateX(120%) translateY(-264%); color:#07215f;}
	3% {transform: translateX(0) translateY(-264%)}
	10% {transform: translateX(0) translateY(-264%);}
	13% {transform: translateX(0) translateY(-175%);}
	20% {transform: translateX(0) translateY(-175%);}
	23% {transform: translateX(0) translateY(-88%);}
	30% {transform: translateX(0) translateY(-88%);}
	33% {transform: translateX(0) translateY(0);}
	56% {transform: translateX(0); color: #07215f; opacity: 1;}
	58% {opacity: 0; transform: translateX(0); color: #07215f; color: #fff;}
	62% {transform: translateX(0); color: #fff; opacity: 1;}
	100% {transform: translateX(0) translateY(0);}
}

@keyframes frontAni {
	0% {transform: translateX(150%) translateY(0); color: #07215f;}
	12% {transform: translateX(150%) translateY(0);}
	14% {transform: translateX(0) translateY(0);}
	56% {transform: translateX(0); color: #07215f; opacity: 1; }
	58% {opacity: 0; transform: translateX(0); color:#07215f; color: #fff;}
	62% {transform: translateX(0); color: #fff; opacity: 1;}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes devAni {
	0% {transform: translateX(200%) translateY(0); color:#07215f;}
	22% {transform: translateX(200%) translateY(0); }
	24% {transform: translateX(0) translateY(0);}
	56% {transform: translateX(0); color: #07215f; opacity: 1;}
	58% {opacity: 0; transform: translateX(0); color: #07215f; color: #fff;}
	62% {transform: translateX(0); color: #fff; opacity: 1;}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes designAni {
	0% {transform: translateX(200%) translateY(0); color: #07215f;}
	32% {transform: translateX(200%) translateY(0);}
	34% {transform: translateX(0) translateY(0);}
	56% {transform: translateX(0); color:#07215f; opacity: 1;}
	58% {opacity: 0; transform: translateX(0); color:#07215f; color: #fff;}
	62% {transform: translateX(0); color: #fff; opacity: 1;}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes erAni1 {
	0% {opacity: 0; color: #07215f;}
	46% {opacity: 0;}
	48% {opacity: 1;}
	50% {opacity: 0;}
	52% {opacity: 1;}
	54% {opacity: 0;}
	56% {opacity: 1; color:#07215f;}
	58% {opacity: 0;}
	62% {opacity: 1; color: #fff;}
	80% {opacity: 1;}
	100% {opacity: 1;}
}
@keyframes erAni2 {
	0% {opacity: 0; color:#07215f;}
	0% {opacity: 0; color:#07215f;}
	46% {opacity: 0;}
	48% {opacity: 1;}
	50% {opacity: 0;}
	52% {opacity: 1;}
	54% {opacity: 0;}
	56% {opacity: 1; color:#07215f;}
	58% {opacity: 0;}
	62% {opacity: 1; color: #fff;}
	80% {opacity: 1;}
	100% {opacity: 1;}
}

@keyframes naviAni {
	0% {transform: translateX(0) translateY(0); }
	6% {transform: translateX(-120%) translateY(0);}
	100% {transform: translateX(-120%) translateY(0);}
}
@keyframes workAni {
	0% {transform: translateX(0) translateY(0); }
	6% {transform: translateX(-160%) translateY(0);}
	100% {transform: translateX(-160%) translateY(0);}
}
@keyframes naviAni1 {
	0% {transform: translateX(0) translateY(0); }
	6% {transform: translateX(-600%) translateY(0);}
	100% {transform: translateX(-600%) translateY(0);}
}

@keyframes naviAni2 {
	0% {transform: translateX(-120%) translateY(0);}
	4% {transform: translateX(-120%) translateY(0);}
	7% {transform: translateX(0) translateY(0);}
	100% {transform: translateX(0) translateY(0);}
}
@keyframes workAni2 {
	0% {transform: translateX(-160%) translateY(0); }
	4% {transform: translateX(-160%) translateY(0);}
	7% {transform: translateX(0) translateY(0);}
	100% {transform: translateX(0) translateY(0);}
}
@keyframes workAni3 {
	0% {transform: translateX(-600%) translateY(0); }
	4% {transform: translateX(-600%) translateY(0);}
	7% {transform: translateX(0) translateY(0);}
	100% {transform: translateX(0) translateY(0);}
}



.navi-wrapper {/* position: absolute; */ max-width: 70%; /* border: 1px solid red; */ display: flex; flex-direction: column; justify-content: center; display: none;
	font-size:8vw; color: rgb(18, 43, 126); font-family: 'Sorts Mill Goudy', serif; font-style: italic; cursor: pointer;}
	.navi-wrapper .navi-wrap {margin: 0 auto;}
	.navi-wrapper div {margin-bottom: -1.4%;/*  display: none */;}

.navi-wrapper .navi-wrap > div:nth-child(1) {animation: aboutAni 8s;animation-fill-mode: forwards;}
.navi-wrapper .navi-wrap > div:nth-child(2) {padding-left: 0.7em; animation: worksAni 8s; animation-fill-mode: forwards;}
.navi-wrapper .navi-wrap > div:nth-child(3) {padding-left: 0.2em; animation: contactAni 8s; animation-fill-mode: backward;}

@keyframes aboutAni {
	0% {transform: translateX(10em) translateY(0);}
	6% {transform: translateX(10em) translateY(0);}
	12% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes worksAni {
	0% {transform: translateX(10em) translateY(0);}
	6% {transform: translateX(10em) translateY(0);}
	10% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes contactAni {
	0% {transform: translateX(10em) translateY(0);}
	6% {transform: translateX(10em) translateY(0);}
	8% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes aboutAni2 {
	0% {transform: translateX(0) translateY(0);}
/* 	6% {transform: translateX(0) translateY(0);} */
	8% {transform: translateX(10em) translateY(0);}
	100% {transform: translateX(10em) translateY(0);}
}
@keyframes worksAni2 {
	0% {transform: translateX(0) translateY(0);}
/* 	6% {transform: translateX(0) translateY(0);} */
	10% {transform: translateX(10em) translateY(0);}
	100% {transform: translateX(10em) translateY(0);}
}
@keyframes contactAni2 {
	0% {transform: translateX(0) translateY(0);}
/* 	6% {transform: translateX(0) translateY(0);} */
	12% {transform: translateX(10em) translateY(0);}
	100% {transform: translateX(10em) translateY(0);}
}

@keyframes naviAni3 {
	0% {transform: translateX(0) translateY(0);}
	8% {transform: translateX(0) translateY(0);}
	12% {transform: translateX(-5000px) translateY(0);}
	100% {transform: translateX(-5000px) translateY(0);}
}
@keyframes naviAni4 {
	0% {transform: translateX(-1300px) translateY(0);}
	8% {transform: translateX(-1300px) translateY(0);}
	12% {transform: translateX(-5000px) translateY(0);}
	100% {transform: translateX(-5000px) translateY(0);}
}
@keyframes aboutAni3 {
	0% {transform: translateX(0) translateY(0);}
	14% {transform: translateX(0) translateY(0);font-size:19vh}
	20% {transform: translateX(-30vw) translateY(-220px); font-size: 12vh;}
	100% {transform: translateX(-30vw) translateY(-220px); font-size: 12vh;}
}
@keyframes aboutAni4 {
	0% {transform: translateX(0) translateY(0);}
	14% {transform: translateX(0) translateY(0);font-size:19vh; color: rgb(18, 43, 126);}
	20% {transform: translateX(32vw) translateY(42vh); font-size: 10vh;}
	100% {transform: translateX(32vw) translateY(42vh); font-size: 10vh; color: rgb(64, 71, 97);}
}

.about-wrapper {display: flex; /* border: 2px solid salmon; */ color: rgb(2, 37, 119); z-index: 5; width: 70vw; justify-content: space-around;}
.about-wrapper .img-wrap {}
.about-wrapper .img-wrap .sol2 {width: 28vw; opacity: 0.85;/*  border: 2px solid red; */}
.about-wrapper .img-wrap h3 {display: flex; margin: 0 0 1vw 4vw; font-size: 3vw; background-color: rgb(255, 255, 255, 0.3); width: 17vw;}
.about-wrapper .about-wrap {display: flex; flex-direction: column; padding: 4% 5%; justify-content: space-between;}
.about-wrapper .about-wrap .about {margin: 4% 0 2%; }
.about-wrapper .about-wrap h3 {font-size: 2.6vw; font-family: 'Bellefair', serif;}
.about-wrapper .about-wrap div {font-family: 'Noto Serif KR', serif; font-weight: 400; font-size: 1vw; line-height: 1.4em;}
.about-wrapper .about-wrap .skills {}
.about-wrapper .about-wrap .skills img {width: 4vw; margin: 0.6vw;}




/********************* 반응형 *********************/
@media screen and (max-width: 1399px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	.cont-wrapper ul {font-size:12vw; }
	.navi-wrapper {font-size:10vw;}
}

@media screen and (max-width: 575px) {
	.navi-wrapper div {margin-bottom: -1%}

}