@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
/* font-family: 'Bellefair', serif; */
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
/* font-family: 'Sorts Mill Goudy', serif; */


/********************* 공통사항 *********************/
html, body {font-size: 16px; font-family: 'Bellefair', serif; }


/********************* .header-wrapper *********************/
.header-wrapper {
	width:100%; 
	height: 100vh;
	position: relative; 
/* 	background-image: linear-gradient( 145deg, #1a4177, #bad7ff); */
/* 	background-image: linear-gradient( 145deg, #006aff, #bad7ff); */
	background-image: linear-gradient( 145deg, #006aff, #c7defd);
/* 	background-image: linear-gradient( 145deg, #042553, #bad7ff); */
/* 	background-image: linear-gradient( 145deg, #8bb100, #e7c7e0); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.main-bg {
	opacity: 0.4;
/* 	mix-blend-mode: overlay; */
	width: 100%; height: 100vh; position: absolute; top: 0; left: 0;
	background-image: url(../img/noise-1.jpg);
	background-size: 100% auto;
	background-position: left top;
	background-repeat: repeat;
	
}

.main-content {width: 100%; height: 100vh; position: absolute; top: 0; left: 0;}

.top-wrap {
	width: 100%;
	padding: 1.8rem;
	display:flex;
	align-items: center;
	justify-content:space-between; 
	position: absolute; 
	top: 0; 
	left: 0;}

.top-wrap .navi-bar {cursor: pointer; display: block;}
.top-wrap .bar::after {width: 46px; display: block; content: ""; border: 2px solid #fff; margin: 0.5em 0;}

.cont-wrapper {display: flex; flex-direction:column; align-items: flex-start; margin: 5em 0 0;/*  border: 2px solid firebrick; */}
.cont-wrapper .cont-wrap {margin: 0 auto;}
/* .cont-wrapper div {font-size:11rem; color: #fff; line-height:9rem; display:flex; flex-direction:column;cursor: pointer; transition: all .5s; align-items: flex-start;}
/* .cont-wrapper div:nth-child(1):hover {transform: translateX(-10px); color: rgb(185, 0, 87);}
.cont-wrapper div:nth-child(2):hover {transform: translateX(10px); color: rgb(185, 0, 87);}
.cont-wrapper div:nth-child(3):hover {transform: translateX(-5px); color: rgb(138, 56, 94);}
.cont-wrapper div:nth-child(4):hover {transform: translateX(5px); color: rgb(185, 0, 87);}
.cont-wrapper div:nth-child(5):hover {transform: translateX(-10px); color: rgb(185, 0, 87);} */
.cont-wrapper ul {font-size:11rem; color: #fff; display:flex; cursor: pointer; margin-bottom: -0.12em; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(1) {padding-left: 0.2em; animation-name: webAni; animation-duration: 20s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(2) {padding-left: 0.5em; animation-name: frontAni; animation-duration: 20s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(3) > li:nth-child(1) {padding-left: 0em; animation-name: devAni; animation-duration: 20s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(3) > li:nth-child(2) {animation-name: erAni1; animation-duration: 20s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(4) > li:nth-child(1) {padding-left: 0.7em; animation-name: designAni; animation-duration: 20s; animation-iteration-count: infinite; }
.cont-wrapper ul:nth-child(4) > li:nth-child(2) {animation-name: erAni2; animation-duration: 20s; animation-iteration-count: infinite;}
.cont-wrapper ul:nth-child(5) {padding-left: 0.3em; animation-name: portAni; animation-duration: 20s; animation-iteration-count: infinite;} 

/* .cont-wrap  ul.navi-ani { animation-duration: 10s;} */

@keyframes webAni{
	0% {transform: translateX(1500px);}
	10% {transform: translateX(0);}
	100% {transform: translateX(0);}
}
@keyframes portAni {
	0% {transform: translateX(1500px) translateY(-463px); }
	10% {transform: translateX(0) translateY(-463px);}
	15% {transform: translateX(0) translateY(-463px);}
	30% {transform: translateX(0) translateY(-310px);}
	35% {transform: translateX(0) translateY(-310px);}
	50% {transform: translateX(0) translateY(-156px);}
	55% {transform: translateX(0) translateY(-156px);}
	70% {transform: translateX(0) translateY(0);}
	100% {transform: translateX(0) translateY(0);}
}
@keyframes frontAni {
	0% {transform: translateX(1500px) translateY(0); }
	15% {transform: translateX(1500px) translateY(0);}
	35% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes devAni {
	0% {transform: translateX(1500px) translateY(0); }
	35% {transform: translateX(1500px) translateY(0); }
	55% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes designAni {
	0% {transform: translateX(1500px) translateY(0); }
	55% {transform: translateX(1500px) translateY(0);}
	75% {transform: translateX(0) translateY(0);}
}
@keyframes erAni1 {
	0% {transform: translateX(1500px) translateY(0); }
	75% {transform: translateX(1500px) translateY(0);}
	85% {transform: translateX(0) translateY(0);}
}
@keyframes erAni2 {
	0% {transform: translateX(1500px) translateY(0); }
	75% {transform: translateX(1500px) translateY(0);}
	85% {transform: translateX(0) translateY(0);}
}

.scroll-bar .icon-scroll {cursor: pointer; position: absolute; right: -2em; bottom: 1.5em; font-size: 2em; transform: rotate(-90deg); transform-origin: bottom left; color: rgb(37, 37, 37);}
.bar-infinity::after {display: block; content: ""; border-bottom: 2px solid rgb(59, 56, 56); animation-name: hoverAni; animation-duration: 2s; animation-iteration-count: infinite; animation-direction: reverse; width: 80%;}
@keyframes hoverAni {
	0% {transform-origin: right; transform: scaleX(1);}
	49% {transform-origin: right;}
	50% {transform-origin: left; transform: scaleX(0);}
	99% {transform-origin: left;}
	100% {transform: scaleX(1);}
}

@keyframes naviAni {
	0% {transform: translateX(0) translateY(0); }
	20% {transform: translateX(-1300px) translateY(0);}
	100% {transform: translateX(-1300px) translateY(0);}
}


.navi-wrapper {position:absolute; top: 0; left: 50%; transform: translateX(-50%); font-size: 11rem; color: rgb(18, 43, 126); /* color: rgb(92, 5, 31); */ font-family: 'Sorts Mill Goudy', serif; font-style: italic; margin: 1.4em 0; display:flex; justify-items: center; display:none; cursor: pointer;}
.navi-wrapper div {margin-bottom: -0.12em;}

.navi-wrapper .navi-wrap > div:nth-child(1) {animation: aboutAni 8s;}
.navi-wrapper .navi-wrap > div:nth-child(2) {padding-left: 0.7em; animation: worksAni 8s;}
.navi-wrapper .navi-wrap > div:nth-child(3) {padding-left: 0.2em; animation: contactAni 8s;}
@keyframes aboutAni {
	0% {transform: translateX(1500px) translateY(0); }
	35% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes worksAni {
	0% {transform: translateX(1500px) translateY(0); }
	30% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}
@keyframes contactAni {
	0% {transform: translateX(1500px) translateY(0); }
	27% {transform: translateX(0) translateY(0);}
	88% {transform: translateX(0) translateY(0);}
}